<div class="sign-in-content">
  <div class="sign-in-container">
    <div class="sign-in-form-container">
      <div class="sign-in-form-container-area">
        <h1>{{ 'auth.signUp' | translate }}</h1>
        <form [formGroup]="form" (submit)="onSubmit()" class="form">
          <div class="box-input">
            <input class="input-text" matInput [placeholder]="'auth.username' | translate" id="username" name="username" required formControlName="username">
            <mat-error *ngIf="isInvalidControl(form,'username')">{{ errorMessagesForControl(form,'username')}}</mat-error>
          </div>
          <div class="box-input">
            <input class="input-text"  matInput type="password" [placeholder]="'auth.password' | translate" id="password" name="password" required formControlName="password">
            <mat-error *ngIf="isInvalidControl(form,'password')">{{ errorMessagesForControl(form,'password')}}</mat-error>
          </div>
          <div class="box-input">
            <select class="list-text" id="role" name="role" required formControlName="role">
              <option value="" disabled selected>Seleccione un rol</option>
              <option value="tecnico">Técnico</option>
              <option value="farmer">Farmer</option>
            </select>
            <mat-error *ngIf="isInvalidControl(form, 'role')">{{ errorMessagesForControl(form, 'role') }}</mat-error>
          </div>
          <button class="button" (click)="goToHome()">{{ 'auth.createAccount' | translate }}</button>
        </form>
      </div>
    </div>
    <div class="divider"></div>
    <div class="sign-in-CTA-container">
      <p>{{ 'auth.alreadyAccount' | translate }}</p>
      <button class="button" (click)="goToSignIn()">{{ 'auth.signIn' | translate }}</button>
    </div>
  </div>
</div>
