<div class="sign-in-content">
  <div class="sign-in-container">
    <div class="sign-in-form-container">
      <div class="sign-in-form-container-area">
        <h1>{{ 'auth.signIn' | translate }}</h1>
        <form [formGroup]="form" (submit)="onSubmit()" class="form">
          <div class="box-input">
            <input class="input-text" matInput [placeholder]="'auth.username' | translate" id="username" name="username" required formControlName="username">
            <mat-error *ngIf="isInvalidControl(form,'username')">{{ errorMessagesForControl(form,'username')}}</mat-error>
          </div>
          <div class="box-input">
            <input class="input-text" matInput type="password" [placeholder]="'auth.password' | translate" id="password" name="password" required formControlName="password">
            <mat-error *ngIf="isInvalidControl(form,'password')">{{ errorMessagesForControl(form,'password')}}</mat-error>
          </div>
          <div class="forgot-password">
            <a routerLink="/iam/forgot-password">{{ 'auth.forgotPassword' | translate }}</a>
          </div>
          <button class="button" type="submit">{{ 'auth.signIn' | translate }}</button>
        </form>
      </div>
    </div>
    <div class="divider"></div>
    <div class="sign-in-CTA-container">
      <p>{{ 'auth.newAccount' | translate }}</p>
      <button class="button" (click)="goToSignUp()">{{ 'auth.signUp' | translate }}</button>
    </div>
  </div>
</div>
