<div class="device-page">
  <div class="device-page-content">
    <h1>{{ 'device.devices' | translate }}</h1>
    <div class="tables-container">
      <div class="item-container">
        <h2>{{ 'device.sensors' | translate }}</h2>
        <table class="device-table">
          <thead>
          <tr>
            <th>{{ 'device.id' | translate }}</th>
            <th>{{ 'device.status' | translate }}</th>
            <th>{{ 'device.pondId' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sensor of sensors">
            <td>{{ sensor.id }}</td>
            <td>{{ sensor.status }}</td>
            <td>{{ sensor.pond_id }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="item-container">
        <h2>{{ 'device.dispensers' | translate }}</h2>
        <table class="device-table">
          <thead>
          <tr>
            <th>{{ 'device.id' | translate }}</th>
            <th>{{ 'device.status' | translate }}</th>
            <th>{{ 'device.pondId' | translate }}</th>
            <th>{{ 'device.lastDispense' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dispenser of dispensers">
            <td>{{ dispenser.id }}</td>
            <td>{{ dispenser.status }}</td>
            <td>{{ dispenser.pond_id }}</td>
            <td>{{ dispenser.lastDispense }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="button-add" (click)="navigateToAddDevice()">{{ 'device.add' | translate }}</button>
  </div>
</div>
