<div class="schedule-main-container">
  <h1 class="page-title">{{ 'schedule.title' | translate }}</h1>
  <div class="schedules-container">
    <h2 class="feeding-schedules">{{ 'schedule.feedingSchedules' | translate }}</h2>
    <div class="search-container">
      <input type="text" [placeholder]="'schedule.search' | translate" [(ngModel)]="searchText" class="search-input">
      <div class="search-icon"><span class="material-symbols-outlined">search</span></div>
    </div>
    <div class="schedules-list">
      <div class="schedule-item" *ngFor="let schedule of dataSource.data; let i = index">
        <div class="pond-name">{{ 'schedule.id' | translate }}: {{ schedule.id }}</div>
        <div class="food-type">{{ 'schedule.pondId' | translate }}: {{ schedule.pondId }}</div>
        <div class="food-type">{{ 'schedule.name' | translate }}: {{ schedule.name }}</div>
        <div class="size">{{ 'schedule.duration' | translate }}: {{ schedule.duration }}</div>
        <div class="status">{{ 'schedule.day' | translate }}: {{ schedule.day  }}</div>
        <div class="status">{{ 'schedule.hour' | translate }}: {{ schedule.hour  }}</div>
        <button (click)="deleteSchedule(schedule.id)"><span class="material-symbols-outlined">delete</span></button>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <button class="pending-button" (click)="goToPending()">{{ 'schedule.goToPendings' | translate }}</button>
    <button class="new-schedule-button" (click)="createNewSchedule()">{{ 'schedule.newSchedule' | translate }}</button>
  </div>
</div>
