<div class="pond-detail-container">
  <div class="info-container">
    <ng-container *ngIf="pondDetailData; else noData">
      <h1 class="center-title">{{ pondDetailData.name }}</h1>
      <div class="pond-detail-container">
        <mat-tab-group>
          <mat-tab label="General">
            <div class="pond-detail-content">
              <div class="info-details">
                <div class="pond-detail">
                  <div class="label">ID</div>
                  <div>{{ pondDetailData.id }}</div>
                </div>
                <div class="pond-detail">
                  <div class="label">Location</div>
                  <div>{{ pondDetailData.ubication }}</div>
                </div>
                <div class="pond-detail">
                  <div class="label">Water Type</div>
                  <div>{{ pondDetailData.waterType }}</div>
                </div>
                <div class="pond-detail">
                  <div class="label">Volume</div>
                  <div>{{ pondDetailData.volume }}</div>
                </div>
                <div class="pond-detail">
                  <div class="label">Area</div>
                  <div>{{ pondDetailData.area }}</div>
                </div>
                <div class="pond-detail" *ngIf="pondDetailData.createdAt">
                  <div class="label">Creation Date</div>
                  <div>{{ pondDetailData.createdAt }}</div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Peces">
            <div class="pond-detail-content">
              <div class="sensor-header">
                <button mat-fab color="primary" class="create-sensor-btn" (click)="navigateToCreateFish()">
                  <span>Agregar Pez</span>
                </button>
              </div>
              <div class="table-container">
                <table class="sensors-table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Creation Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let fish of pondDetailData.fishes">
                    <td>{{ fish.id }}</td>
                    <td>{{ fish.type }}</td>
                    <td>{{ fish.quantity }}</td>
                    <td>{{ fish.createdAt }}</td>
                  </tr>
                  <tr *ngIf="!pondDetailData.fishes || pondDetailData.fishes.length === 0">
                    <td colspan="4" class="no-data">No hay peces registrados en este estanque.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Sensores">
            <div class="pond-detail-content">
              <div class="sensor-header">
                <button mat-fab color="primary" class="create-sensor-btn" (click)="navigateToCreateSensor()">
                  <span>Agregar Sensor</span>
                </button>
              </div>
              <div class="table-container">
                <table class="sensors-table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Oxygen Level</th>
                    <th>Sensor Type</th>
                    <th>Status</th>
                    <th>Temperature Level</th>
                    <th>Last Update</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let sensor of sensorsData">
                    <td>{{ sensor.id }}</td>
                    <td>{{ sensor.oxygenLevel }}</td>
                    <td>{{ sensor.sensorType }}</td>
                    <td>
                      <div class="status-indicator" [ngClass]="sensor.status === 'Connected' ? 'connected' : 'disconnected'">
                        {{ sensor.status }}
                      </div>
                    </td>
                    <td>{{ sensor.temperatureLevel }}</td>
                    <td>{{ sensor.last_update }}</td>
                  </tr>
                  <tr *ngIf="!sensorsData || sensorsData.length === 0">
                    <td colspan="6" class="no-data">No hay sensores asociados a este estanque.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </ng-container>
    <ng-template #noData>
      <p>No hay datos disponibles para este estanque.</p>
    </ng-template>
  </div>
</div>
