<div class="pond-detail-container">
  <div class="info-container">
    <h1>{{ dataSource.data[0].name }}</h1>

  </div>
  <mat-tab-group>
    <mat-tab label="General">
      <div class="pond-detail-content">
        <div class="image-container">
          <img [src]="dataSource.data[0].imageUrl" alt="image">
        </div>
        <div class="info-details">
          <div class="pond-detail">
            <div class="label">Pond Id</div>
            <div> {{ dataSource.data[0].id }} </div>
          </div>
          <div class="pond-detail">
            <div class="label">Location</div>
            <div> {{ dataSource.data[0].ubication }} </div>
          </div>
          <div class="pond-detail">
            <div class="label">Water Type</div>
            <div> {{ dataSource.data[0].waterType }} </div>
          </div>
          <div class="pond-detail">
            <div class="label">Pond Volume</div>
            <div> {{ dataSource.data[0].volume }} </div>
          </div>
          <div class="pond-detail">
            <div class="label">Pond Size</div>
            <div> {{ dataSource.data[0].size }} </div>
          </div>
          <div class="pond-detail">
            <div class="label">Creation Date</div>
            <div> {{ dataSource.data[0].createdAt }} </div>
          </div>

        </div>

      </div>
    </mat-tab>
    <mat-tab label="Mi Fish"></mat-tab>
    <mat-tab label="Sensors"></mat-tab>
    <mat-tab label="Food"></mat-tab>
  </mat-tab-group>
</div>
