<div class="home">
  <div class="home-container">
    <div class="websocket-status" [ngClass]="{'connected': websocketStatus === 'Conectado', 'disconnected': websocketStatus !== 'Conectado'}">
      Estado WebSocket: {{ websocketStatus }}
      <button class="websocket-button" (click)="toggleWebSocketConnection()">
        {{ websocketService.isConnected() ? 'Desconectar' : 'Conectar' }}
      </button>
    </div>

    <div class="pond-info">
      <app-sensor-info
        [sensorId]="selectedSensorId"
        [sensor]="getSelectedSensor()">
      </app-sensor-info>
      <div class="spacer-sp"></div>
      <div *ngIf="sensors" class="sensor-buttons-list">
        <button *ngFor="let sensor of sensors"
                (click)="selectSensor(sensor.id)"
                class="sensor-buttons"
                [ngClass]="{'active': selectedSensorId === sensor.id}">
          {{ sensor.id }} - {{ sensor.status }}
        </button>
      </div>
    </div>
    <button class="button-add" style="margin-top: 90px"
            (click)="goToCreateSchedule()">
      {{ 'schedule.new' | translate }}
    </button>
    <div class="schedule-info">
      <app-list-sdap></app-list-sdap>
    </div>
  </div>
</div>
