<div class="sensor-info-area">
  <h1>{{ 'sensor.riverPond' | translate }}</h1>
  <div class="sensor-info-container">
    <h2>{{ 'sensor.waterQuality' | translate }}</h2>
    <div class="sensor-info" *ngIf="sensor">
      <div class="sensor-info-item">
        {{ 'sensor.temp' | translate }}:
        <div class="circle blue">
          <span> {{ sensor.temperature }}</span>
        </div>
      </div>
      <div class="sensor-info-item">
        {{ 'sensor.oxygen' | translate }}:
        <div class="circle blue">
          <span> {{ sensor.oxygen }}</span>
        </div>
      </div>
      <div class="sensor-info-item">
        {{ 'sensor.ph' | translate }}:
        <div class="circle blue">
          <span>{{ sensor.nytrogen }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
