<div class="create-schedule-container">
  <h1 class="page-title">{{ 'sdap.newSchedule' | translate }}</h1>
  <div class="schedule-form-container">
    <form [formGroup]="scheduleForm" (ngSubmit)="createSchedule()">
      <div class="form-row">
        <div class="form-group">
          <label>{{ 'pond.name' | translate }}</label>
          <input type="text" formControlName="pondName" [placeholder]="'pond.name' | translate">
        </div>
        <div class="form-group">
          <label>{{ 'pond.species' | translate }}</label>
          <input type="text" formControlName="species" [placeholder]="'pond.species' | translate">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>{{ 'sdap.size' | translate }}:</label>
          <div class="input-with-unit">
            <input type="number" formControlName="size" [placeholder]="'sdap.size' | translate" min="0">
            <span class="unit">cm</span>
          </div>
        </div>
        <div class="form-group">
          <label>Mass:</label>
          <div class="input-with-unit">
            <input type="number" formControlName="mass" placeholder="weight" min="0">
            <span class="unit">kg</span>
          </div>
        </div>
      </div>
      <div class="form-row four-columns">
        <div class="form-group">
          <label>{{ 'sdap.food' | translate }}:</label>
          <input type="text" formControlName="food" [placeholder]="'sdap.food' | translate">
        </div>
        <div class="form-group">
          <label>Weight of food:</label>
          <div class="input-with-unit">
            <input type="number" formControlName="weightOfFood" placeholder="weight" min="0">
            <span class="unit">kg</span>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'aar.loop' | translate }}:</label>
          <div class="input-with-unit">
            <input type="number" formControlName="loop" [placeholder]="'aar.loop' | translate">
            <span class="unit">{{ 'aar.hours' | translate }}</span>
          </div>
        </div>
        <div class="form-group">
          <label>Sensor condition:</label>
          <div class="sensor-condition">
            <input type="text" formControlName="sensorConditionMin" placeholder="metric">
            <span class="comparator">≤</span>
            <input type="text" formControlName="sensorConditionMax" placeholder="metric">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group full-width">
          <label>{{ 'aar.comment' | translate }}:</label>
          <textarea formControlName="comment" [placeholder]="'aar.comment' | translate"></textarea>
        </div>
      </div>
      <button type="submit">{{ 'sdap.create' | translate }}</button>
    </form>
  </div>
</div>
