<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav">
      <mat-nav-list class="list">
        <a routerLink="/sign-in">Login</a>
        <a routerLink="/sign-up">Register</a>
        <a routerLink="/schedule">Schedule</a>
        <a routerLink="/communication">Communication</a>
        <a routerLink="/ponds">Ponds</a>
        <a routerLink="/devices">Devices</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
