.sidenav-container {
  height: 100vh;
  display: flex;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  background-color: #2C2F33;
}

.list{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sidenav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 2px solid #377BFF;
}

.sidenav a:hover {
  opacity: 0.7;
}

.content {
  background-color: #FAFAFA;
  flex: 1;
}
.logo-container{

}

.logo{
  width: 100px;
  height: auto;
}

.log-out-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.log-out-button:hover {
  opacity: 0.7;
}
