<div class="container">
  <h2>Notifications</h2>
  <div class="notification-box">
    ⚠️ Temperatura crítica detectada: 42.7°C en TEMP-001. Supera el umbral permitido de 40°C.
  </div>

  <div class="alerts-header">
    <h3>Alerts</h3>
    <button (click)="goToCreateAlert()">Create alert</button>
  </div>

  <div class="alert-container">
    <div *ngFor="let alert of alerts; let i = index" class="alert-card">
      <div class="alert-header">
        <h4>{{ alert.name }}</h4>
        <button class="delete-btn" (click)="deleteAlert(i)">🗑️</button>
      </div>
      <p>{{ alert.description }}</p>
      <small>{{ alert.timestamp }}</small>
    </div>
  </div>
</div>

